  .menusItemButton {
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 4px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    height: 44px;
    width: 100%;
    border-radius: 8px;
    padding: 0px 18px;
    justify-content: flex-start;
    transition: all 0.15s ease 0s;
    color: inherit;
    background-color: transparent;
    color: rgb(140, 163, 186);

    &.active {
      color: rgb(36, 153, 239);
      background-color: rgba(36, 153, 239, 0.06);

      .menusItemNoIcon {
        background: rgb(36, 153, 239);
        box-shadow: rgba(36, 153, 239, 0.2) 0px 0px 0px 3px;
      }
    }



    .menusItemIcon {
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 18px;
      margin-right: 4px;
      color: inherit;
    }

    .menusItemLabel {
      white-space: nowrap;
      padding-left: 0.8rem;
      transition: all 0.15s ease 0s;
      font-size: 13px;
      font-weight: 500;
      color: inherit;
    }

    .menusItemNoIcon {
      width: 4px;
      height: 4px;
      margin-left: 10px;
      margin-right: 8px;
      overflow: hidden;
      border-radius: 50%;
      background: rgb(69, 90, 121);
      box-shadow: none;
    }
  }