  .subMenusItemButton {
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 5px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    height: 48px;
    width: 100%;
    padding: 0px 12px;
    border-radius: 8px;
    justify-content: space-between;
    color: rgb(140, 163, 186);
    background-color: transparent;


    &.active {
      color: rgb(36, 153, 239);
      background-color: rgba(36, 153, 239, 0.06);
    }
    
    .menusItemIcon {
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      font-size: 18px;
      margin-right: 4px;
      color: inherit;
    }

    .menusItemLabel {
      white-space: nowrap;
      padding-left: 0.8rem;
      transition: all 0.15s ease 0s;
      font-size: 13px;
      font-weight: 500;
      color: inherit;
    }

    .menuItemArrow{
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentcolor;
      flex-shrink: 0;
      color: rgba(255, 255, 255, 0.3);
      font-size: 18px;
      transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
  }